#gotop {
  position: fixed;
  top: 90%;
  right: 1%;
  font-size: 20px;
  padding: 10px;
  background: #666;
  color: #fff;
  cursor: pointer;
  transition: 0.6s;
}
#gotop:hover {
  background: #000;
}
