header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 70%;
  background: #999;
  padding: 20px;
  box-sizing: border-box;
}

.search-bar {
  position: relative;
  padding-right: 30px;
}

.search-btn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-input {
  width: 100%;
  font-size: 20px;
  padding: 5px 30px;
  box-sizing: border-box;
}

.clear-btn {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}
